.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.livescoreContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body {
  margin: 0;
  background-color: black;
  color: goldenrod;
  font-family: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}