.menu-container {
  display: flex;
  width: 100%;
}

.favourites-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.favourites {
  width: 100%;
  padding: 20px;
  border: 3px solid #f4a340;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: 100%;
}

.favourites-title {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #f4a340;
}

.teams-container,
.league-container {
  width: 100%;
}

.team,
.favLeague,
.team-empty,
.favLeague-empty {
  display: flex;
  width: 100%;
  border: 1px dashed #f4a340;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.favLeague-unselected,
.team-unselected {
  display: flex;
  width: 100%;
  border: 1px dashed grey;
  opacity: 0.4;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

@media (max-width: 450px) {
  .team,
  .favLeague {
    font-size: 11px;
  }

  .team-empty,
  .favLeague-empty {
    font-size: 14px;
  }
}

.teamInfo-container,
.leagueInfo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.favTeam-logo,
.league-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 15px;
  margin-right: 10px;
  background-color: white;
  padding: 5px;
}

.team-name,
.league-name {
  margin-right: 5px;
}

.team-country,
.league-country {
  color: lightgray;
}

.team-star-container,
.league-star-container {
  font-size: 25px;
}

.team-star,
.league-star {
  cursor: pointer;
}

.addFavourite {
  border: 2px solid #f4a340;
  padding: 0 15px;
  font-size: 25px;
  border-radius: 15px;
  cursor: pointer;
}

.addFavourite:hover {
  transform: scale(1.04);
  opacity: 0.7;
}
.addFavourite:active {
  transform: scale(0.9);
  opacity: 0.7;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
