.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game {
  border: solid 2px goldenrod;
  border-radius: 15px;
  max-width: 800px;
  width: 100%;
}

.gameHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid goldenrod;
  padding: 20px 20px;
}

.game-home,
.game-info,
.game-away {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33.3%;
}

.game-home-logo,
.game-away-logo {
  width: 70px;
  margin-bottom: 10px;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.game-info-leagueLogo {
  width: 30px;
}

.game-info-leagueRound {
  font-size: 9px;
}

.game-info-score {
  font-size: 20px;
}

.game-info-minutes {
  font-size: 12px;
}

.game-refVenue-container {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 13px 0;
  padding: 5px 20px;
}

.game-referee,
.game-venue {
  font-size: 10px;
}

.game-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.game-options-summary,
.game-options-lineUps,
.game-options-stats {
  border: solid 2px goldenrod;
  padding: 3px 8px;
  border-radius: 20px;
  cursor: pointer;
}

.game-options-summarySelected,
.game-options-lineUpsSelected,
.game-options-statsSelected {
  border: solid 2px goldenrod;
  padding: 3px 8px;
  color: black;
  background-color: goldenrod;
  border-radius: 20px;
  cursor: pointer;
}

.events-container {
  padding: 20px;
}
