.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.game {
  border: solid 2px goldenrod;
  border-radius: 15px;
  padding: 20px;
  max-width: 800px;
  width: 100%;
}

.gameHeader {
  display: flex;
  justify-content: space-around;
}

.game-home,
.game-score,
.game-away {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-leagueLogo {
  width: 40px;
}

.game-score {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.homeEvent {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.awayEvent {
  margin-top: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.event-imageContainer {
  background-color: lightgray;
  display: inline;
  height: 35px;
  width: 35px;
  margin: 0 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-image {
  height: 20px;
}

.event-timeStamp,
.event-playerName {
  font-size: 18px;
}
