.header-container {
  width: 100%;
}

.header {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: relative;
  top: 0;
  height: 90px;
  box-shadow: 0px 2px 5px #28231d;
}

.header-menuIcon {
  cursor: pointer;
}

.header-searchIcon {
  cursor: pointer;
}

.header-title {
  width: 160px;
  margin: 25px 0;
  cursor: pointer;
}

.header-info {
  cursor: pointer;
}

.header-info:hover {
  scale: 1.1;
  transition: ease 0.2s;
}

@media (min-width: 650px) {
  .header-menuIcon {
    color: lightgray;
    cursor: default;
    pointer-events: none;
  }
}
