.menu-container {
  display: flex;
  width: 100%;
}

.homefixtures-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.homeOptions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  max-width: 800px;
}

.homeOptions-item {
  cursor: pointer;
  border-radius: 20px;
  padding: 8px 13px;
  border: 2px solid #f4a340;
  width: 150px;
  font-size: 18px;
  text-align: center;
}

.homeOptions-item-selected {
  cursor: pointer;
  background-color: #f4a340;
  color: black;
  border-radius: 20px;
  padding: 8px 13px;
  border: 2px solid #f4a340;
  width: 150px;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 750px) {
  .homeOptions-item-selected {
    width: 120px;
    font-size: 15px;
  }
  .homeOptions-item {
    width: 120px;
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .homeOptions-item {
    font-size: 12px;
    width: 100px;
  }
  .homeOptions-item-selected {
    font-size: 12px;
    width: 100px;
  }
  .league-header-title {
    font-size: 16px;
  }

  .homefixtures-container {
    padding: 20px;
  }
}

.homeOptions-item-icon {
  margin-right: 5px;
}

.homefixtures {
  width: 100%;
  padding: 20px;
  border: 3px solid #f4a340;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  text-align: center;
  justify-content: center;
}

.datePickerContainer {
  overflow-x: auto;
  margin-bottom: 20px;
}

.datePicker {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.datePicker-dates {
  background-color: #28231d;
  border-radius: 20px;
  padding: 15px 10px;
  cursor: pointer;
  margin-right: 20px;
}

@media (min-width: 650px) {
  .datePickerContainer {
    width: 330px;
    align-self: center;
  }
}

@media (min-width: 700px) {
  .datePickerContainer {
    width: 370px;
    align-self: center;
  }
}
@media (min-width: 750px) {
  .datePickerContainer {
    width: 425px;
    align-self: center;
  }
}
@media (min-width: 800px) {
  .datePickerContainer {
    width: 475px;
    align-self: center;
  }
}
@media (min-width: 850px) {
  .datePickerContainer {
    width: 525px;
    align-self: center;
  }
}
@media (min-width: 900px) {
  .datePickerContainer {
    width: 580px;
    align-self: center;
  }
}
@media (min-width: 970px) {
  .datePickerContainer {
    width: 100%;
    align-self: center;
  }
}
.datePicker-dates-selected {
  border: 2px solid #f4a340;
  border-radius: 20px;
  color: white;
  padding: 15px 10px;
  cursor: pointer;
  margin-right: 20px;
}

.country-container {
  display: flex;
  align-items: center;
  border: 1px white solid;
}

.country-flag {
  height: 30px;
}
.country-title {
  margin: 0;
}

.league {
  width: 100%;
  margin-bottom: 10px;
}

.league:last-child {
  margin-bottom: 0;
}

.league-header {
  text-align: left;
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
}

.league-header-image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  margin-right: 10px;
}

.league-header-title {
  width: 100%;
  font-size: 22px;
  cursor: pointer;
  width: auto;
  margin: 0;
}

.league-header-title-container {
  display: flex;
  border-bottom: 1px solid #f4a340;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.league-header-title-icon {
  cursor: pointer;
}
