.menu-container {
  display: flex;
  width: 100%;
}

.homefixtures-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.homeOptions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  max-width: 800px;
}

.homeOptions-item {
  cursor: pointer;
  border-radius: 20px;
  padding: 8px 13px;
  border: 2px solid #f4a340;
  width: 150px;
  font-size: 18px;
}

.homeOptions-item-selected {
  cursor: pointer;
  background-color: #f4a340;
  color: black;
  border-radius: 20px;
  padding: 8px 13px;
  border: 2px solid #f4a340;
  width: 150px;
  font-size: 18px;
}

@media (max-width: 750px) {
  .homeOptions-item-selected {
    width: 120px;
    font-size: 15px;
  }
  .homeOptions-item {
    width: 120px;
    font-size: 15px;
  }
}

@media (max-width: 499px) {
  .homeOptions-item {
    font-size: 12px;
    width: 100px;
  }
  .homeOptions-item-selected {
    font-size: 12px;
    width: 100px;
  }
  .league-header-title {
    font-size: 16px;
  }
}

.homeOptions-item-icon {
  margin-right: 5px;
}

.homefixtures {
  width: 100%;
  padding: 20px;
  border: 3px solid #f4a340;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.league {
  width: 100%;
}

.league-header {
  text-align: left;
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
}

.league-header-image {
  width: 50px;
  padding: 5px;
  border-radius: 15px;
  background-color: lightgray;
  margin-right: 10px;
}

.league-header-title {
  width: 100%;
  font-size: 22px;
  cursor: pointer;
  border-bottom: 1px solid #f4a340;
}
