.menu-container {
  display: flex;
  width: 100%;
}

.leagues-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.leagues {
  width: 100%;
  padding: 20px;
  border: 3px solid #f4a340;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: auto;
}

.leagues-title-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f4a340;
  margin-bottom: 25px;
  align-items: center;
  padding-right: 10px;
}

.leagues-title {
  margin: 0;
  padding-bottom: 10px;
}

.leagues-title-return {
  cursor: pointer;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.search-form {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 450px) {
  .search-form {
    padding: 0 20px;
  }
}

@media (max-width: 450px) {
  .search-form-icon {
    display: none;
  }
}

.search-form-input {
  background-color: black;
  color: #f4a340;
  border: 2px solid #f4a340;
  border-radius: 20px;
  height: 40px;
  width: 30%;
  font-size: 18px;
  padding: 0 15px;
  transition: 0.9s;
}

.search-form-input::placeholder {
  opacity: 0;
}

.search-form-input:focus::placeholder {
  opacity: 0.4;
}

.search-form-input:focus {
  outline: none;
  width: 100%;
  border: 3px solid lightgoldenrodyellow;
}

.searchLeague-container {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.searchLeague-country {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.searchLeague-country-name {
  background-color: #28231d;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}

.searchLeague {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
}

.searchLeague-name:hover {
  transform: scale(1.04);
  opacity: 0.7;
}
.searchLeague-name:active {
  transform: scale(0.9);
  opacity: 0.7;
}

.searchLeague-name {
  cursor: pointer;
}

.searchLeague-star-container {
  cursor: pointer;
}

.searchLeague-star-container-unselected {
  cursor: pointer;
  color: gray;
}

.options {
  border: 2px solid #f4a340;
  border-radius: 20px;
  display: flex;
  position: relative;
  width: 160px;
  height: 30px;
  align-self: flex-end;
}

.options-toggle {
  position: absolute;
  background-color: #f4a340;
  width: 80px;
  height: 100%;
  border-radius: 20px;
  transition: 0.5s;
  z-index: -1;
}

.options-item {
  margin: 5px 0;
  cursor: pointer;
}

.options-item-container {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.leagueTable-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.leagueTable-title-logo {
  width: 60px;
  margin-right: 10px;
}
.leagueTable-title-text {
  margin: 0;
  width: 60%;
  border-bottom: 1px solid #f4a340;
}

@media (max-width: 450px) {
  .leagueTable-title-text {
    font-size: 17px;
  }
}

table {
  border-collapse: collapse;
}

td {
  font-size: 12px;
  /* border-bottom: solid 1px #f4a340; */
  border-left: solid 1px #f4a340;
  height: 40px;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28231d;
  padding: 2px;
  border-radius: 7px;
  margin-right: 5px;
}

.team-logo {
  width: 20px;
}

.team-name {
  display: flex;
  align-items: center;
}

.team-name-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: flex-start;
}

.web-display,
.web-display-form {
  display: none;
}

@media (min-width: 800px) {
  .web-display,
  .web-display-form {
    display: table-cell;
  }

  .web-display {
    min-width: 20px;
  }

  .team-name-text {
    padding-left: 10px;
  }

  .team-name {
    padding-left: 5px;
  }

  td {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .leagues-container {
    padding: 20px;
  }
}
