.menu-container {
  height: 100%;
}

.header-dropdown {
  display: none;
}

@media (max-width: 599px) {
  .header-dropdown {
    position: absolute;
    margin: 90px 0 0 -30px;
    list-style-type: none;
    padding: 0;
    width: 200px;
    height: 100vh;
    background-color: black;
    display: block;
    top: 10px;
    box-shadow: 0px 5px 5px #28231d;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
  }
}

.menu {
  display: none;
}

.menu-icon {
  margin-right: 10px;
}

@media (min-width: 600px) {
  .menu {
    margin: 0;
    display: block;
    list-style-type: none;
    padding: 0;
    width: 200px;
    height: 100%;
    background-color: black;
    box-shadow: 0px 5px 5px #28231d;
    display: flex;
    flex-direction: column;
  }
}

.header-dropdown-item-container:last-child {
  margin-top: auto;
  padding-bottom: 30px;
}

.header-dropdown-item-container:first-child {
  margin-top: 20px;
}

.header-dropdown-item-container {
  padding: 20px;
}

.header-dropdown-item {
  border-radius: 25px;
  padding: 15px;
  border: 2px solid #f4a340;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.header-dropdown-image {
  width: 150px;
  border: lightgoldenrodyellow 1px solid;
  border-radius: 15px;
  padding: 5px;
}

.header-dropdown-item:hover {
  transform: scale(1.04);
  opacity: 0.7;
}
.header-dropdown-item:active {
  transform: scale(0.7);
  opacity: 0.7;
}
