.header-dropdown {
  display: none;
}

@media (max-width: 599px) {
  .header-dropdown {
    position: absolute;
    margin: 90px 0 0 -30px;
    list-style-type: none;
    padding: 0;
    width: 200px;
    height: 100vh;
    background-color: black;
    display: block;
    top: 10px;
    box-shadow: 0px 5px 5px #28231d;
  }
}

.menu {
  display: none;
}

@media (min-width: 600px) {
  .menu {
    margin: 0;
    display: block;
    list-style-type: none;
    padding: 0;
    width: 200px;
    height: 100vh;
    background-color: black;
    box-shadow: 0px 5px 5px #28231d;
  }
}

.header-dropdown-container {
  padding: 20px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-dropdown-escape {
  padding: 5px 10px;
  border-radius: 20px;
  border: solid 1px #28231d;
  cursor: pointer;
}

.header-dropdown-item-container:first-child {
  margin-top: 20px;
}

.header-dropdown-item-container {
  padding: 20px;
}

.header-dropdown-item {
  color: #f4a340;
  border-radius: 25px;
  padding: 15px 0;
  border: 2px solid #f4a340;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header-dropdown-item:hover {
  transform: scale(1.04);
  opacity: 0.7;
}
.header-dropdown-item:active {
  transform: scale(0.7);
  opacity: 0.7;
}
