.stats-container {
  padding: 10px 20px;
}

.stat {
  margin-bottom: 5px;
}

.stat-text {
  display: flex;
  justify-content: space-between;
}

.stat-text-home {
}

.stat-text-away {
}

.stat-bar-container {
  display: flex;
  justify-content: center;
}

.stat-bar-home-container {
  justify-content: flex-end;
}
.stat-bar-home-container,
.stat-bar-away-container {
  width: 50%;
  display: flex;
  border-radius: 5px;
  background-color: #28231d;
}

.stat-bar-home {
  height: 10px;
  border-radius: 5px;
}

.stat-bar-away {
  height: 10px;
  border-radius: 5px;
}
