.menu-container {
  display: flex;
  width: 100%;
}

.teams-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.teams-title-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f4a340;
  margin-bottom: 25px;
  align-items: center;
  padding-right: 10px;
}

.teams-title {
  margin: 0;
  padding-bottom: 10px;
  text-align: left;
}

.teams-title-return {
  cursor: pointer;
}

.teams {
  width: 100%;
  padding: 20px;
  border: 3px solid #f4a340;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: auto;
  text-align: center;
}

@media (max-width: 450px) {
  .teams-container {
    padding: 20px;
  }
}

.search-container {
  margin-bottom: 10px;
}

.teamSearch-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-countryFlag {
  height: 40px;
  border-radius: 20px;
  margin-right: 20px;
}

.search-input {
  background-color: black;
  color: #f4a340;
  border: 2px solid #f4a340;
  border-radius: 20px;
  height: 40px;
  width: 30%;
  font-size: 18px;
  padding: 0 15px;
  transition: 0.9s;
}

.search-input::placeholder {
  opacity: 0;
}

.search-input:focus::placeholder {
  opacity: 0.8;
}

.search-input:focus {
  outline: none;
  width: 80%;
  border: 3px solid lightgoldenrodyellow;
}

.teamSearch-country {
  display: flex;
  margin-top: 10px;
  align-items: flex-end;
  cursor: pointer;
}

.teamSearch-country-flag {
  width: 50px;
  border-radius: 15px;
  border: 1px solid #f4a340;
}

.teamSearch-country-name {
  padding-left: 10px;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #f4a340;
}

.teamSearch-team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #f4a340;
}

.teamSearch-team-logo {
  width: 30px;
}

.teamSearch-team-name {
  text-align: left;
  padding-left: 10px;
}

.teamSearch-star-container {
  cursor: pointer;
}

.teamSearch-star-container-unselected {
  cursor: pointer;
  color: gray;
}

.teamHeader {
  display: flex;
  align-items: center;
}

.teamHeader-logo {
  width: 100px;
  background-color: white;
  border-radius: 25px;
  padding: 5px;
}

.teamHeader-nameContainer {
  width: 100%;
  margin-left: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.teamHeader-name {
  margin: 0 0 10px 0;
}

.teamHeader-star-selected {
  cursor: pointer;
}

.teamHeader-star-unselected {
  cursor: pointer;
  color: gray;
}

.teams-optionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.teams-option {
  border: 2px solid #f4a340;
  color: #f4a340;
  padding: 3px 8px;
  border-radius: 20px;
  cursor: pointer;
}

.teams-option-notReady {
  border: 2px solid grey;
  color: grey;
  padding: 3px 8px;
  border-radius: 20px;
  cursor: default;
}

.teams-option-selected {
  border: 2px solid #f4a340;
  padding: 3px 8px;
  color: black;
  background-color: #f4a340;
  border-radius: 20px;
  cursor: default;
}

.team-resultContainer {
  display: flex;
  align-items: center;
}

.team-result {
  margin-top: 15px;
  border: 2px solid #f4a340;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
}

.team-result-leagueLogo {
  width: 30px;
  height: 30px;
  object-fit: contain;
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  margin-right: 10px;
}

.team-result-leagueContainer {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4a340;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.team-result-leagueNameContainer {
  display: flex;
  align-items: center;
}

.team-result-leagueName {
  font-size: 14px;
}

.team-result-leagueFlag {
  height: 12px;
  margin-left: 5px;
}

.team-result-date {
  border-right: 2px solid #f4a340;
  height: 100%;
}

.team-result-names,
.team-result-scores {
  display: flex;
  flex-direction: column;
}

.team-result-nameContainer {
  display: flex;
  align-items: center;
}
.team-result-nameContainer:first-child {
  margin-bottom: 5px;
}

.team-result-logo {
  width: 20px;
  margin-right: 10px;
}

.team-result-names {
  width: 100%;
  margin-left: 10px;
  padding-left: 15px;
  border-left: 2px solid #f4a340;
}

.team-result-matchResult {
  margin-left: 10px;
  color: black;
  padding: 2px 7px;
  border-radius: 10px;
}

@media (max-width: 450px) {
  .teams-option,
  .teams-option-selected,
  .teams-option-notReady {
    font-size: 12px;
  }

  .teamHeader-name {
    font-size: 20px;
  }

  .team-result-names {
    font-size: 12px;
    padding-left: 8px;
    margin-left: 5px;
  }

  .teamHeader-logo {
    width: 80px;
  }
}
